### **Applying Decision tree Algorithm for heart attack data**

In [2]:
## import necessary libraries
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [3]:
import warnings 
warnings.filterwarnings('ignore')

In [5]:
df = pd.read_excel(r"C:\Users\Karth\Downloads\Machine learning\Datasets\Heartattack_prediction_data.xlsx")

In [8]:
df.shape

(4312, 14)

In [6]:
df.head()

,Sex,Age,Heart Rate,Glucose,BMI,Smoker,Ciggarates(Per Day),Hypertension,Systolic BP,Diastolic BP,ON BP Medication,Previous Stroke,Diabetic,RiskOfCHD
0,1,39,80.0,77.0,26.97,0,0.0,0,106.0,70.0,0.0,0,0,0
1,0,46,95.0,76.0,28.73,0,0.0,0,121.0,81.0,0.0,0,0,0
2,1,48,75.0,70.0,25.34,1,20.0,0,127.5,80.0,0.0,0,0,0
3,0,61,65.0,103.0,28.58,1,30.0,1,150.0,95.0,0.0,0,0,1
4,0,46,85.0,85.0,23.10,1,23.0,0,130.0,84.0,0.0,0,0,0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4312 entries, 0 to 4311
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Sex                  4312 non-null   int64
 1   Age                  4312 non-null   int64
 2   Heart Rate           4311 non-null   float64
 3   Glucose              4112 non-null   float64
 4   BMI                  4293 non-null   float64
 5   Smoker               4312 non-null   int64
 6   Ciggarates(Per Day)  4283 non-null   float64
 7   Hypertension         4312 non-null   int64
 8   Systolic  BP         4312 non-null   float64
 9   Diastolic BP         4312 non-null   float64
 10  ON BP Medication     4260 non-null   float64
 11  Previous Stroke      4312 non-null   int64
 12  Diabetic             4312 non-null   int64
 13  RiskOfCHD            4312 non-null   int64
dtypes: float64(7), int64(7)
memory usage: 471.8 KB

In [10]:
df.isnull().sum()

Sex                      0
Age                      0
Heart Rate               1
Glucose                200
BMI                     19
Smoker                   0
Ciggarates(Per Day)     29
Hypertension             0
Systolic  BP             0
Diastolic BP             0
ON BP Medication        52
Previous Stroke          0
Diabetic                 0
RiskOfCHD                0
dtype: int64

In [11]:
df['RiskOfCHD'].value_counts()

RiskOfCHD
0    3654
1     658
Name: count, dtype: int64

In [12]:
df1= df.dropna()

In [14]:
df1.isnull().sum()

Sex                    0
Age                    0
Heart Rate             0
Glucose                0
BMI                    0
Smoker                 0
Ciggarates(Per Day)    0
Hypertension           0
Systolic  BP           0
Diastolic BP           0
ON BP Medication       0
Previous Stroke        0
Diabetic               0
RiskOfCHD              0
dtype: int64

In [15]:
df1.duplicated().sum()

np.int64(68)

In [16]:
df1.drop_duplicates(inplace=True)

In [17]:
df1.duplicated().sum()

np.int64(0)

In [18]:
df1.describe()

,Sex,Age,Heart Rate,Glucose,BMI,Smoker,Ciggarates(Per Day),Hypertension,Systolic BP,Diastolic BP,ON BP Medication,Previous Stroke,Diabetic,RiskOfCHD
count,3949.000000,3949.000000,3949.000000,3949.000000,3949.000000,3949.000000,3949.000000,3949.000000,3949.000000,3949.000000,3949.000000,3949.000000,3949.000000,3949.000000
mean,0.436313,49.549253,75.794125,82.040010,25.797371,0.489997,9.031907,0.309952,132.273614,82.869840,0.030134,0.005571,0.026589,0.151684
std,0.495990,8.561709,12.017503,23.496781,4.067156,0.499963,11.962920,0.462532,21.939643,11.881098,0.170978,0.074441,0.160899,0.358760
min,0.000000,32.000000,44.000000,40.000000,15.540000,0.000000,0.000000,0.000000,83.500000,48.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,42.000000,68.000000,72.000000,23.080000,0.000000,0.000000,0.000000,117.000000,75.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,49.000000,75.000000,78.000000,25.380000,0.000000,0.000000,0.000000,128.000000,82.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,56.000000,83.000000,87.000000,28.040000,1.000000,20.000000,1.000000,143.500000,89.500000,0.000000,0.000000,0.000000,0.000000
max,1.000000,70.000000,143.000000,394.000000,56.800000,1.000000,70.000000,1.000000,295.000000,142.500000,1.000000,1.000000,1.000000,1.000000

In [19]:
df1.describe().T

,count,mean,std,min,25%,50%,75%,max
Sex,3949.0,0.436313,0.495990,0.00,0.00,0.00,1.00,1.0
Age,3949.0,49.549253,8.561709,32.00,42.00,49.00,56.00,70.0
Heart Rate,3949.0,75.794125,12.017503,44.00,68.00,75.00,83.00,143.0
Glucose,3949.0,82.040010,23.496781,40.00,72.00,78.00,87.00,394.0
BMI,3949.0,25.797371,4.067156,15.54,23.08,25.38,28.04,56.8
Smoker,3949.0,0.489997,0.499963,0.00,0.00,0.00,1.00,1.0
Ciggarates(Per Day),3949.0,9.031907,11.962920,0.00,0.00,0.00,20.00,70.0
Hypertension,3949.0,0.309952,0.462532,0.00,0.00,0.00,1.00,1.0
Systolic BP,3949.0,132.273614,21.939643,83.50,117.00,128.00,143.50,295.0
Diastolic BP,3949.0,82.869840,11.881098,48.00,75.00,82.00,89.50,142.5
ON BP Medication,3949.0,0.030134,0.170978,0.00,0.00,0.00,0.00,1.0
Previous Stroke,3949.0,0.005571,0.074441,0.00,0.00,0.00,0.00,1.0
Diabetic,3949.0,0.026589,0.160899,0.00,0.00,0.00,0.00,1.0
RiskOfCHD,3949.0,0.151684,0.358760,0.00,0.00,0.00,0.00,1.0

**Univariate Analysis**