### **This notebook contains multiple linear regression practice with vehicle emission dataset**

In [45]:
import numpy as np
import pandas as pd

In [46]:
df= pd.read_csv(r"C:\Users\Karth\Downloads\Machine learning\Datasets\co2.csv")
df.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [47]:
df.shape

(7385, 12)

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7385 entries, 0 to 7384
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Make                              7385 non-null   object
 1   Model                             7385 non-null   object
 2   Vehicle Class                     7385 non-null   object
 3   Engine Size(L)                    7385 non-null   float64
 4   Cylinders                         7385 non-null   int64
 5   Transmission                      7385 non-null   object
 6   Fuel Type                         7385 non-null   object
 7   Fuel Consumption City (L/100 km)  7385 non-null   float64
 8   Fuel Consumption Hwy (L/100 km)   7385 non-null   float64
 9   Fuel Consumption Comb (L/100 km)  7385 non-null   float64
 10  Fuel Consumption Comb (mpg)       7385 non-null   int64
 11  CO2 Emissions(g/km)               7385 non-null   int64
dtypes: float64(4), int64(3), object(5)
memory usage: 692.5+ KB

-  Here too many columns are not useful for predicting co2 emission I should drop them !

In [49]:
df.columns

Index(['Make', 'Model', 'Vehicle Class', 'Engine Size(L)', 'Cylinders',
       'Transmission', 'Fuel Type', 'Fuel Consumption City (L/100 km)',
       'Fuel Consumption Hwy (L/100 km)', 'Fuel Consumption Comb (L/100 km)',
       'Fuel Consumption Comb (mpg)', 'CO2 Emissions(g/km)'],
      dtype='object')

In [50]:
df1= df.drop(columns=['Make', 'Model', 'Vehicle Class', 'Transmission', 'Fuel Consumption Comb (mpg)'])
df1

,Engine Size(L),Cylinders,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),CO2 Emissions(g/km)
0,2.0,4,Z,9.9,6.7,8.5,196
1,2.4,4,Z,11.2,7.7,9.6,221
2,1.5,4,Z,6.0,5.8,5.9,136
3,3.5,6,Z,12.7,9.1,11.1,255
4,3.5,6,Z,12.1,8.7,10.6,244
...,...,...,...,...,...,...,...
7380,2.0,4,Z,10.7,7.7,9.4,219
7381,2.0,4,Z,11.2,8.3,9.9,232
7382,2.0,4,Z,11.7,8.6,10.3,240
7383,2.0,4,Z,11.2,8.3,9.9,232
7384,2.0,4,Z,12.2,8.7,10.7,248

In [52]:
df1.isnull().sum()

Engine Size(L)                      0
Cylinders                           0
Fuel Type                           0
Fuel Consumption City (L/100 km)    0
Fuel Consumption Hwy (L/100 km)     0
Fuel Consumption Comb (L/100 km)    0
CO2 Emissions(g/km)                 0
dtype: int64

In [53]:
df1.duplicated().sum()

np.int64(2958)

In [55]:
df2= df1.drop_duplicates()
df2.shape

(4427, 7)

In [57]:
df2.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Engine Size(L),4427.0,NaN,NaN,NaN,3.098848,1.32712,0.9,2.0,3.0,3.6,8.4
Cylinders,4427.0,NaN,NaN,NaN,5.528349,1.809074,3.0,4.0,6.0,6.0,16.0
Fuel Type,4427,5,X,2291,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fuel Consumption City (L/100 km),4427.0,NaN,NaN,NaN,12.437023,3.501817,4.2,9.9,12.0,14.4,30.6
Fuel Consumption Hwy (L/100 km),4427.0,NaN,NaN,NaN,9.000407,2.256138,4.0,7.4,8.6,10.2,20.6
Fuel Consumption Comb (L/100 km),4427.0,NaN,NaN,NaN,10.890016,2.906438,4.1,8.8,10.5,12.5,26.1
CO2 Emissions(g/km),4427.0,NaN,NaN,NaN,248.512988,59.335228,96.0,205.0,244.0,285.0,522.0

In [62]:
df2['Fuel Type'].unique()

array(['Z', 'D', 'X', 'E', 'N'], dtype=object)

In [64]:
df3= pd.get_dummies(df2, columns=['Fuel Type'], drop_first=True,  dtype=int)
df3

,Engine Size(L),Cylinders,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),CO2 Emissions(g/km),Fuel Type_E,Fuel Type_N,Fuel Type_X,Fuel Type_Z
0,2.0,4,9.9,6.7,8.5,196,0,0,0,1
1,2.4,4,11.2,7.7,9.6,221,0,0,0,1
2,1.5,4,6.0,5.8,5.9,136,0,0,0,1
3,3.5,6,12.7,9.1,11.1,255,0,0,0,1
4,3.5,6,12.1,8.7,10.6,244,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
7375,2.0,4,11.3,7.5,9.6,223,0,0,0,1
7379,2.0,4,10.2,7.5,9.0,210,0,0,1,0
7380,2.0,4,10.7,7.7,9.4,219,0,0,0,1
7382,2.0,4,11.7,8.6,10.3,240,0,0,0,1
7384,2.0,4,12.2,8.7,10.7,248,0,0,0,1